<script type="text/template" id="EventPosts_Templ">
    {{#each Items}}
    <li>
        <div class="eventPost">
            <div class="pic">
                <img src="{{{PicUrl}}}" />
            </div>
            <div class="details">
                <div class="caption">{{{Caption}}}</div>
                <div>
                    <img src="" alt="Like" />
                    <img src="" alt="Dislike" />
                </div>
            </div>
        </div>
    </li>
    {{/each}}
</script>
