<script type="text/template" id="EventPosts_Templ">
    {{#each Items}}
    <div class="eventPost" data-eventid="{{{PostId}}}">
        <div class="pic">
            <img src="{{{PicUrl}}}" />
        </div>
        <div class="details">
            <div class="caption">{{{Caption}}}</div>
            <div class="likes">
                <img src="@Url.Content("~/Images/like.png")" alt="Like" title="This is cool, I like it" />
                <img src="" alt="Dislike" title="This is not cool, I dislike it" />
            </div>
        </div>
    </div>
    {{/each}}
</script>
