<script type="text/template" id="EventSearchResponseItem_Templ">
    <ul>
        {{#each Items}}
        <li>
            <div>
                <a href="{{Url}}">{{{Title}}}</a>
            </div>
        </li>
        {{/each}}
    </ul>
</script>
