@{
    ViewBag.Title = "Log in";
}

<section class="social" id="socialLoginForm">
    <h2>Log in.</h2>
    @Html.Action("ExternalLoginsList", new { ReturnUrl = ViewBag.ReturnUrl })

    <div class="subScript">Nothing is posted on facebook or any other social networking site.</div>
</section>

