<?xml version="1.0"?>
<unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
  <container>
    <register type="IWasThere.BAL.Interfaces.IAccountService, IWasThere.BAL" mapTo="IWasThere.BAL.AccountService, IWasThere.BAL" />
    <register type="IWasThere.BAL.Interfaces.IEventService, IWasThere.BAL" mapTo="IWasThere.BAL.EventService, IWasThere.BAL" />
  </container>
  
</unity>