@{
    ViewBag.Title = "Home Page";
}

<div class="searchBoxDiv">
    <input id="searchBox" type="text" name="search" placeholder="Search for events"/>
</div>

<div id="results"></div>
@Html.Partial("Templates/EventSearchResponseItem")

<script type="text/javascript" src="@Url.Content("~/Scripts/PageLogics/Homepage.js")"/>